<h1 class="text-center text-light my-5">Editar Tweets</h1>

<%= render "form", tweet: @tweet %>

<br>

<div class="d-flex justify-content-between">
  <%= link_to "Volver a tweets", tweets_path, class: "btn btn-primary" %>
  <%= link_to "Mostrar Tweet", @tweet, class: "btn btn-primary" %>
</div>